nav{
    background-image: linear-gradient(grey,white);
    font-size: 27px;
    text-align: right;
}
ul{
    list-style-type:none; 
}
pre{
    font-size: 30px;
}
footer{
    background-image: linear-gradient(grey,white,grey);
    text-align: center;
    font-size: 22px;
}
button{
    margin-bottom: 12px;
    clear: right;
}